.contenido-principal.paginas{
  position: relative;
  float: left;
  width: 100%;
}
.contenido-principal.paginas:after{
  content: '';
  display: block;
  width: 54px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 45px;
  background-image: url(images/clip-down-white.png)
}
.paginas h2{
  font-size: 34px;
  color: #004387;
  font-family: 'Novel Sans Pro';
  margin: 0px 0px 30px;
  padding-top: 80px;
  position: relative;
}
.clear{
  clear: both;
}


/*
  NEW STYLE
*/
h4{
  margin: 0 0 10px 0;
  color: #004387;
  font-weight: bold;
}
hr{
  height: 1px;
  width: 100%;
  margin: 0;
  border-top: 1px dashed #ddd !important;
}
.center{
  text-align: center;
}
.img-responsive{
  width: 100%;
}


.header-vida-saludable{
  width: 100%;
  height: 360px;
  float: left;
  background-color: #1e4e7f;
  background-image: url('images/header-vida-saludable.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  h2{
    color: #fff;
    font-size: 34px;
    font-family: 'Novel Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    max-width: 270px;
    padding-left: 20px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0px;
      width: 10px;
      height: 70px;
      background-color: #f29200;
    }
  }
  .header-icon{
    background-image: url(images/icon-vida.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 50px;
    font-family: 'Novel Sans Pro';
  }

}
#vida-saludable{
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 10px 0px 20px 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  .layout-vida-saludable {
    float: left;
    width: 100%;
    padding: 15px;
    .layout-header{
      margin: 0;
      display: inline-block;
      width: 100%;
      h4{
        display: inline-block;
      }
      .ver-mas{
        a{
          color: #f29200;

        }
        .btn-mas{
          background-color: #f29200;
          border-radius: 50%;
          color: white;
          height: 14px;
          font-size: 8px;
          line-height: 15px;
          text-align: center;
          width: 14px;
        }
      }
    }
    .info-vida-sana{
      display: flex;
      figcaption{
        position: absolute;
        color: white;
        text-align: left;
        padding: 25px;
        bottom: 0;
        p{
          margin: 0;
          font-size: .8em;
          strong{
            font-size: 1.4em;
            margin: 25px 0;
          }
        }
      }
      .info-articulos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        .articulos{
          &:last-child{
            border-bottom: 0px solid #ddd;
          }
          .info{
            padding: 0 5px;
          }
        }
        p{
          margin: 0;
          font-size: .88em;
          &.etiqueta{
            font-size: .7em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {
  .contenido-principal.paginas:after{
    display: none;
  }
  .contenedor{
    padding: 0 20px;
    h2{
      padding-top: 20px;
    }
  }
  #vida-saludable{
    margin-top: 0;
    .layout-vida-saludable{
      padding-left: 0;
      padding-right: 0;
      .info-vida-sana{
        display: block !important;
        .img-full{
          margin-bottom: 15px;
          padding: 0;
        }
        .articulos{
          padding: 15px 0;
          .img{
            padding: 0;
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 768px) {
}
@media only screen and (max-width : 480px) {
}
@media only screen and (max-width : 320px) {
}
