
@media only screen and (max-width : 450px) {
	.grilla-articulos .paginador{
		display: block !important;
	}
	.sf_pagerNumeric{
		display: none !important;
	}
	.paginador{
		margin: 20px 0;
	}
	.paginador a{
		display: inline-block;
		float: initial;
		margin: 15px;
	}
}