/* NOTICIAS Y EVENTOS */
h1, h2, h3, h4 {
  font-family: 'Novel Sans Pro';
}
h3 {
  margin: 0 0 10px 0;
  color: #004387;
  font-weight: bold;
  font-size: 26px;
  float: left;
}
hr {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  border-top: 1px dashed #ddd !important;
}
.p15{
  padding: 15px 0;
}
.clear {
  clear: both;
}
.block{
  display: inline-block;
  width: 100%;
}
.ver-mas {
  display: inline;
  transition: all .3s;
}
.ver-mas:hover {
  opacity: .8;
}
.ver-mas a {
  color: #f29200;
  float: left;
}
.ver-mas .ver-mas-icon {
  background-image: url("images/icon-vermas-amarillo.png");
  background-position: center;
  display: block;
  height: 19px;
  margin: 1px 0 0 5px;
  width: 19px;
}
.navbar{
  border-width: 0px !important;
}
.paginador-simple{
  margin: 15px 0;
  width: 100%;
  text-align: right;
}
.paginador-simple a{
  padding: 2px;
}



.contenido-principal.paginas {
  position: relative;
  float: left;
  width: 100%;
}
.paginas h2 {
  font-size: 34px;
  color: #004387;
  font-family: 'Novel Sans Pro';
  margin: 0px 0px 30px;
  padding-top: 80px;
  position: relative;
}
.header-noticias-eventos{
  width: 100%;
  min-height: 360px;
  float: left;
  background-color: #FF6646;
  background-image: url("images/bg-noticias-eventos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.header-noticias-eventos:after{
  content: '';
  display: block;
  width: 54px;
  height: 35px;
  position: absolute;
  top: -1px;
  left: 45px;
  background-image: url(images/clip-down-white.png);
}
.header-noticias-eventos h2{
  color: #fff;
  font-size: 34px;
  font-family: 'Novel Sans Pro';
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 270px;
  padding-top: 80px;
  padding-left: 20px;
  position: relative;
}
.header-noticias-eventos h2:before{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 10px;
  height: 70px;
  background-color: #f29200;
}
.header-noticias-eventos .bajada-titulo{
  color: #fff;
  padding-left: 65px;
  background-image: url(images/ico-periodico.png);
  background-position: left top;
  background-repeat: no-repeat;
  font-family: 'Novel Sans Pro';
  max-width: 480px;
}
.header-noticias-eventos .bajada-titulo p{
  font-size: 14px;
}
.header-noticias-eventos .bajada-titulo p.subtitulo{
  font-size: 26px;
}



.noticias-eventos {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 10px 0px 20px 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.noticias-eventos .layout-noticias-eventos {
  float: left;
  width: 100%;
  padding: 15px;
}
.noticias-eventos .layout-noticias-eventos .layout-header {
  margin: 0;
  display: inline-block;
  width: 100%;
}
.noticias-eventos .layout-noticias-eventos .layout-header h4 {
  display: inline-block;
}
.noticias-eventos .layout-noticias-eventos .layout-header .ver-mas {
  display: inline;
  transition: all .3s;
}
.noticias-eventos .layout-noticias-eventos .layout-header .ver-mas:hover {
  opacity: .8;
}
.noticias-eventos .layout-noticias-eventos .layout-header .ver-mas a {
  color: #f29200;
  float: left;
}
.noticias-eventos .layout-noticias-eventos .layout-header .ver-mas .ver-mas-icon {
  background-image: url("images/icon-vermas-amarillo.png");
  background-position: center;
  display: block;
  height: 19px;
  margin: 1px 0 0 5px;
  width: 19px;
}
.noticias-eventos .layout-noticias-eventos .layout-header .ver-mas .btn-mas {
  background-color: #f29200;
  border-radius: 50%;
  color: white;
  height: 14px;
  font-size: 8px;
  line-height: 15px;
  text-align: center;
  width: 14px;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos {
  display: -ms-flexbox;
  display: flex;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .img-full{
  height: 390px;
  overflow: hidden;
  position: relative;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .figcaption {
  position: absolute;
  color: white;
  text-align: left;
  padding: 30px;
  bottom: 0;
  width: 100%;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .figcaption p {
  margin: 0;
  font-size: 1em;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .figcaption h4 a{
  font-size: 26px;
  color: #fff;
  margin: 16px 0px 10px;
  font-weight: bold;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos {
  display: inline-block;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos:last-child {
  border-bottom: 0px solid #ddd;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos .info {
  padding: 0 5px;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos .fecha {
  background-color: #d4b2d2;
  color: white;
  font-size: .6em;
  padding: 10px;
  margin: 0;
  text-align: center;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos .fecha .dia{
  font-size: 2em;
  color: white;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos .articulos .info h4{
  font-size: 14px;
  font-weight: 600;
  color: #646567;
  font-family: 'Open Sans', sans-serif;
  margin-top: 3px;
  margin-bottom: 5px;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos p {
  margin: 0;
  font-size: 1em;
  color: #646567;
}
.noticias-eventos .layout-noticias-eventos .info-noticias-eventos .info-articulos p.etiqueta {
  font-size: 0.85em;
  color: #9c9e9f;
}



/* ARTICULOS DE INTERES TODOS */
.grilla-articulos h3{
  font-family: 'Novel Sans Pro';
  font-size: 26px;
  font-weight: bold;
  color: #004387;
  margin: 40px 0px 20px;
}
.caja-articulo-todos{
  width: 100%;
  margin-bottom: 25px;
  background-color: #fff;
}
.caja-articulo-todos img.no-mobile{
  width: 100%;
  height: auto;
}
.art-info{
  width: 100%;
}
.art-info h4,
.art-info h4 a{
  color: #646567;
  font-family: 'Novel Sans Pro';
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}
.art-category{
  display: block;
  padding: 5px 0px;
  font-size: 14px;
  color: #8f909e;
}
.art-info p{
  color: #646567;
  font-size: 14px;
}
.vermas-grilla{
  display: none;
}
.only-mobile{
  display: none;
}

@media (max-width: 480px) {
  .no-mobile{
    display: none;
  }
  .only-mobile{
    display: block;
  }
  .grilla-articulos{
    background-color: #fff;
    background-image: url(images/bg-section-vs.gif);
    background-repeat: repeat-x;
    background-position: top;
    padding: 0px 20px;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .grilla-articulos h3{
    margin: 25px 0px 50px;
    font-size: 21px;
  }
  .vermas-grilla{
    position: absolute;
      top: -2px;
      right: 0px;
      display: block;
      color: #f29200;
      padding-right: 25px;
      background-image: url(images/link-circle.png);
      background-repeat: no-repeat;
      background-position: right center;
  }
  .grilla-articulos .paginador{
    //display: none;
  }
  .header-noticias-eventos{
    padding: 20px 30px;
    background-image: url(images/bg-noticias-eventos-mobile.jpg);
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .header-articulos-interes h2{
    margin-top: 35px;
  }
  .header-articulos-interes:after{
    display: none;
  }
  .caja-articulo-todos{
    border-bottom: 2px dotted #cdd1da;
    min-height: 150px;
    padding-bottom: 15px;
  }
  .caja-articulo-todos a img{
    float: left;
  }
  .art-info{
    padding: 0px 0px 0px 130px;
  }
  .art-info h4{
    color: #646567;
    font-size: 16px;
    margin-top: 0px;
  }
  .art-category{
    padding: 0px 0px 5px;
    line-height: 1;
  }
}



@media only screen and (max-width : 992px) {
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos {
    display: block !important;
  }
}
@media only screen and (max-width : 768px) {
}
@media (max-width: 480px) {
  .paginador div{
    text-align: center;

  }
  .contenido-principal.paginas:after {
    display: none;
  }
  .contenedor {
    padding: 0 20px;
  }
  .contenedor h2 {
    padding-top: 20px;
  }
  .noticias-eventos {
    margin-top: 0;
  }
  .header-noticias-eventos .bajada-titulo{
    padding-right: 15px;
  }
  .header-noticias-eventos:after{
    display: none !important;
  }
  .header-noticias-eventos h2{
    padding-top: 20px;
  }
  .noticias-eventos .layout-noticias-eventos {
    padding-left: 0;
    padding-right: 0;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos {
    display: block !important;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos .img-full {
    margin-bottom: 15px;
    padding: 0;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos .img-full .figcaption{
    font-size: 12px;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos .img-full h4{
    font-size: 16px;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos .articulos {
    padding: 15px;
  }
  .noticias-eventos .layout-noticias-eventos .info-noticias-eventos .articulos .img {
    padding: 0;
  }
}



/* IE */
.ie body .col-md-6 {
  width: 50%;
  float: left;
}
.ie body .articulos .img {
  float: left;
}








/*! Gray v1.4.5 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale") !important;
  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1) !important;
  /* Firefox 35+ */
  filter: grayscale(1) !important;
  /* IE 6-9 */
  filter: gray !important; 
}
.grayscale.grayscale-fade {
  transition: filter .5s;
}
/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition:         -webkit-filter .5s;
  }
}
.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}
/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}
.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}
.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}
